body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Bookman' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eceffc;
}

span {
  cursor: pointer;
}

.card-field{
  border: 1px black solid;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: 'Courier New', Courier, monospace;
}

.completedFields {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -20px;
}

.modal-block {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  padding: 15px;
  text-align: center;
  position:fixed;
  background: white;
  width: 40%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn {
  padding: 8px 20px;
  border-radius: 0;
  overflow: hidden;
  border:1px  solid;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      var(--primary-color),
      transparent
    );
    transform: translateX(-100%);
    transition: 0.6s;
  }

  &:hover {
    background: transparent;
    box-shadow: 0 0 10px 10px hsla(204, 84%, 75%, 0.5);

    // &::before {
    //   transform: translateX(100%);
    // }
  }
}

.form-input-material {
  --input-default-border-color: white;
  --input-border-bottom-color: white;
  
  input {
    color: white;
  }
}

.login-form {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);

  h1 {
    margin: 0 0 24px 0;
  }

  .form-input-material {
    margin: 12px 0;
    width: 100%;
    display: inline-block;
  }

  .btn {
    width: 100%;
    margin: 18px 0 9px 0;
  }

  .form-control-material {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
  }
}

.card-border {
  display: inline-block;
  // width: 48%;
  border: 3px black solid;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}

.dropped-numbers {
  margin: 0px auto;
  width: 20%;
  height: 60px;

  .number {
    width: 20%;
    display: inline-block;
    text-align: center;
    font: normal small-caps normal 30px Bookman;
    // animation: animation-rotate infinite cubic-bezier(0.250, 0.460, 0.450, 0.940);
    //     animation-duration: 2500ms;
    //     animation-iteration-count: 1;
  
      &:first-child {
        // animation: animation-rotate infinite cubic-bezier(0.250, 0.460, 0.450, 0.940);
        // animation-duration: 2500ms;
        // animation-iteration-count: 1;
        // animation-fill-mode: backwards ;
        // -webkit-animation-fill-mode: forwards;
        font: 40px bold;
    }
  }
}

@keyframes animation-rotate {
  0% { transform: rotate(0) }
  100% { transform: rotate(359deg) }
}

.game-board {
  // border-top: 1px solid rgba(0, 0, 0, 0.1);
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 374px;
  margin: 0px auto;
}

.buttons-panel {
  width: 100%;
  margin: 0px auto;
}




.svg-icon {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

// .svg-icon path,
// .svg-icon polygon,
// .svg-icon rect {
//   fill: #4691f6;
// }

// .svg-icon circle {
//   stroke: #4691f6;
//   stroke-width: 1;
// }